* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}


header {
    background-color: #222;
    padding: 15px 30px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    justify-content: right;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}

section {
    margin-bottom: 50px;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    color: #555;
}


#contact p {
    margin: 5px 0;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo {
    width: 60px;
    height: auto;
    border-radius: 50%;
    margin-right: auto;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-items: center;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
}

.cards {
    width: 100%;
    max-width: 360px;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-body .card-text {
    flex-grow: 1;
}

.card-body .btn-1 {
    align-self: flex-start;
    margin-top: auto;
    text-decoration: none;
}

.btn-1:hover {
    transform: scale(1.05);
    transition: transform 0.1s;
}

@media (min-width: 600px) and (max-width: 880px) {
    .projects {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 1.5rem;
        row-gap: 1.5rem;
        margin-top: 1.5rem;
    }
}

.contact-mail {
    color: #555;
    text-decoration: none;
}

.contact-mail:hover {
    color: #000;
}

.contact-icon {
    margin-right: 15px;

}

.contact-icon:hover {
    fill: #000;
    transform: scale(1.1);
    transition: transform 0.2s;
}

.skill {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}   

.skill img {
    border-radius: 8px;
    background-color: white;
    padding: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.skill img:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}
