* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

 
header {
    background-color: #222;
    padding: 15px 30px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    justify-content: right;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}

section {
    margin-bottom: 50px;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    color: #555;
}


#contact p {
    margin: 5px 0;
}

a {
    color: #000000;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.logo {
    width:  60px;
    height: auto;
    border-radius: 50%;
    margin-right: auto;
}